image: Visual Studio 2022
version: 0.1.{build}
branches:
  only:
  - master
skip_tags: true
skip_branch_with_pr: true
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
before_build:
  - nuget restore
build:
  verbosity: minimal
after_build:
- cmd:  dotnet publish EarthTool.CLI -c Release -p:PublishSingleFile=true -r win-x64 --output %appveyor_build_folder%\dist
artifacts:
- path: dist\EarthTool.*.exe
  name: deploy
deploy:
- provider: GitHub
  auth_token:
    secure: 2QwSqffNXBhHbJee5CMv7wRikClYOQK6CLUlWM/s5Ck5tFTLBdoV9kZuHZjYD+9G
  artifact: deploy
  on:
    branch: master